<head>
   
   <link rel="stylesheet" href="/css/style.css">

      {{!-- <title> The Best University</title> --}}
      
       {{!-- <link rel="icon" type="image/x-icon" href="/images/icons8.png"> --}}
   
</head>